! Цвета темы {{NAME}} для vxwm. Кладёт сюда theme.sh через xrdb -merge;
! vxwm ловит смену RESOURCE_MANAGER и перекрашивается на лету.
! Файл собран из palette.toml генератором mktheme.py. Правки затрутся.
vxwm.normfg: {{NORM_FG}}
vxwm.normbg: {{NORM_BG}}
vxwm.normborder: {{NORM_BORDER}}
vxwm.selfg: {{SEL_FG}}
vxwm.selbg: {{SEL_BG}}
vxwm.selborder: {{SEL_BORDER}}
