# Цветовая схема Qt для темы {{NAME}} ({{DESCRIPTION}}). Собрано из палитры
# генератором mktheme.py -- правки затрутся.
#
# Двадцать одна роль в строго заданном порядке, менять его нельзя:
# WindowText, Button, Light, Midlight, Dark, Mid, Text, BrightText,
# ButtonText, Base, Window, Shadow, Highlight, HighlightedText, Link,
# LinkVisited, AlternateBase, NoRole, ToolTipBase, ToolTipText,
# PlaceholderText. Qt читает схему один раз при старте приложения, поэтому
# уже открытые Qt-окна смену темы не подхватывают -- в отличие от GTK.
[ColorScheme]
active_colors={{ARGB_NORM_FG}}, {{ARGB_SEL_BG}}, {{ARGB_NORM_BORDER}}, {{ARGB_NORM_BORDER}}, {{ARGB_DIM_BG}}, {{ARGB_MUTED}}, {{ARGB_NORM_FG}}, {{ARGB_SEL_FG}}, {{ARGB_SEL_FG}}, {{ARGB_DIM_BG}}, {{ARGB_NORM_BG}}, {{ARGB_DIM_BG}}, {{ARGB_SEL_BORDER}}, {{ARGB_SEL_FG}}, {{ARGB_SEL_BORDER}}, {{ARGB_MUTED}}, {{ARGB_SEL_BG}}, {{ARGB_NORM_BG}}, {{ARGB_DIM_BG}}, {{ARGB_NORM_FG}}, {{ARGB_MUTED}}
disabled_colors={{ARGB_MUTED}}, {{ARGB_SEL_BG}}, {{ARGB_NORM_BORDER}}, {{ARGB_NORM_BORDER}}, {{ARGB_DIM_BG}}, {{ARGB_MUTED}}, {{ARGB_MUTED}}, {{ARGB_SEL_FG}}, {{ARGB_MUTED}}, {{ARGB_NORM_BG}}, {{ARGB_NORM_BG}}, {{ARGB_DIM_BG}}, {{ARGB_NORM_BORDER}}, {{ARGB_MUTED}}, {{ARGB_MUTED}}, {{ARGB_MUTED}}, {{ARGB_SEL_BG}}, {{ARGB_NORM_BG}}, {{ARGB_DIM_BG}}, {{ARGB_MUTED}}, {{ARGB_MUTED}}
inactive_colors={{ARGB_NORM_FG}}, {{ARGB_SEL_BG}}, {{ARGB_NORM_BORDER}}, {{ARGB_NORM_BORDER}}, {{ARGB_DIM_BG}}, {{ARGB_MUTED}}, {{ARGB_NORM_FG}}, {{ARGB_SEL_FG}}, {{ARGB_SEL_FG}}, {{ARGB_DIM_BG}}, {{ARGB_NORM_BG}}, {{ARGB_DIM_BG}}, {{ARGB_SEL_BG}}, {{ARGB_SEL_FG}}, {{ARGB_SEL_BORDER}}, {{ARGB_MUTED}}, {{ARGB_SEL_BG}}, {{ARGB_NORM_BG}}, {{ARGB_DIM_BG}}, {{ARGB_NORM_FG}}, {{ARGB_MUTED}}
